<p>Hey,{{name}}</p>

<p style="font-weight:500">Thanks for getting a Quote in germinate , we are looking forward you to be a happy customer
    of us !!</p>
<img src="https://i.ibb.co/kqqTxKv/logo.png" width="100">

<p style="font-size:20px;color:darkblue;text-align:center;font-weight:500;">Quote value based on your Requirement <span
        style="color: green;">&#8377;{{Quotevalue}}</span></p>


<p style="font-weight:500;color:darkblue;">Reach your Customer ,Grow your Buisness , via Digitally !</p>



<h3>Why webiste is needed ?</h3>
<ul style="color:steelblue;font-weight:500;">
    <li>Expansion of markets</li>
    <li>Advertising</li>
    <li>Growing your business</li>
    <li>To provide an online presence</li>
    <li>Selling of goods and services</li>
</ul>


<p style="text-align: center;color:darkgray">copyrights reserved @2022 Germinate</p>