<div style="display:center;">
    <img src="https://i.ibb.co/kqqTxKv/logo.png" width="100">
    Drop mail to us ,And get your desired website for your business at affordable price


    <p>Regards</p>
    <div style="display:flex;">
        <p>contact us | Visit<a href="germinateand.web.app"> germinate </a>| germinate@gmail.com</p>
    </div>
    <p style="text-align: center;color:darkgray">copyrights reserved @2022 Germinate</p>
</div>